.main-footer {
  display: flex;
  align-items: center;
  color: white;
  background: linear-gradient(
    90deg,
    rgb(64, 80, 115) 0%,
    rgba(64, 80, 115, 1) 100%
  );
  justify-content: flex-end;
  padding-top: 3em;
  position: relative;
  top: 200px;
  bottom: 0;
  width: 100%;
}
